.display {
    grid-column: span 4;
    background: linear-gradient(to right, rgb(98, 178, 218), rgb(163, 5, 218));
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.1rem;
    overflow: hidden;
}